body {
    background-color: #FFFFFF;
    font: 18px Arial, sans-serif;
}

#header {
    font-weight: bold;
    font-family: arial,helvetica;
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: white;
}

#inputs {
    font-weight: bold;
    font-family: arial,helvetica;
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: black;
}

#outputs {
    font-weight: bold;
    font-family: arial,helvetica;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: black;
}

.subheader {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
}

.imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
